* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: Montserrat;
  background-color: #fff;
}

.container {
  max-width: 1440px;
  margin-inline: AUTO;
  padding-inline: 160px;
}

/* navbar */

.nav {
  
  display: flex;
  flex-direction: row;
  padding-block: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.nav-logo {
  margin-right: 80px;
  max-width: 70px;
}

.nav-item {
  margin-right: 40px;
  color: #fff;
  text-decoration: none;
  color: var(--general-light, #FFF);
  
  /* Desktop / Menu */
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
  text-transform: uppercase;
}

.nav-item:hover {
  color: #FFA3A3;
  cursor: pointer;
}

.nav-right {
  margin-left: auto;
  display: flex;
  align-items: flex-start;
  gap: 40px;
  
}

.nav-right-button:hover {
  border: 1px solid #381DDB;
  padding: 8px 16px;
  align-items: center;
  gap: 10px;
}

.nav-right-button {
  color: #381DDB;

  /* Desktop / Menu */
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 40px;
}



/* header */

.sec-header {
  background: url("../assets/header/hero/back.png");
  background-position: center center;
  background-repeat: repeat-x;
  background-size: auto;
  margin-top: -80px;
}

.header {
  padding-block: 170px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
  width: 100%;
}

.header-left {
  width: 50%;
}

.header-left-subheading {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.header-left-subheading-txt {
  color: #FFF;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}

.header-right {
  width: 50%;
}

.header-heading {
  color: #ffa3a3;
  text-shadow: 0px 2px 0px rgba(34, 34, 34, 0.1);

  /* Desktop / H1 / Bold */
  font-family: Montserrat;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  max-width: 570px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.header-desc {
  color: #fff;
  /* Desktop / Subtitle / Regular */
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px; /* 158.333% */
  max-width: 470px;
}

.header-btn {
  display: flex;
  color: #ffa3a3;
  font-feature-settings: "clig" off, "liga" off;

  /* Desktop / Main / Bold */
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  gap: 10px;
}

.header-right-wrapper {
  width: 470px;
  height: 570px;
  background: #fff;
  filter: drop-shadow(0px 20px 100px rgba(34, 34, 34, 0.15));
  padding: 60px;
  position: relative;
}

.header-right-heading {
  color: #222;
  font-feature-settings: "clig" off, "liga" off;

  /* Desktop / H3 */
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 38px; /* 158.333% */
  margin-bottom: 30px;
}

.header-right-form {
  display: flex;
  flex-direction: column;
  margin-right: 150px;
  gap: 20px;
}

.header-right-form input {
  width: 100%;
  height: 48px;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 12px 20px;
  
}

.header-right-form input::placeholder {
  opacity: 0.3;
  color: #222;
  font-feature-settings: 'clig' off, 'liga' off;

  /* Desktop / Main / Regular */
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.header-right-btn {
  display: inline-flex;
  margin-top: 40px;
  padding: 14px 28px;
  align-items: center;
  gap: 10px;
  background: #381DDB;
  color: var(--general-light, #FFF);
  font-feature-settings: 'clig' off, 'liga' off;

  /* Desktop / H5 */
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  /* btn / blue / normal */
  box-shadow: 0px 10px 30px 0px rgba(56, 29, 219, 0.20);
  text-decoration: none;
}

.header-right-img-1 {
  position: absolute;
  bottom: 20px;
  right: 10px;
}

.header-right-img-2 {
  position: absolute;
  bottom: 20px;
  right: 10px;
}

/* end header */


/* service */

.sec-market {
  background-image: url('../assets/content/8.svg');
  background-repeat: no-repeat;
  background-position: bottom center;
  margin-bottom: 140px;
}

.service {
  padding-block: 140px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-between;
  width: 100%;
  

}



.service-left {
 width: 50%;
 display: flex;
 justify-content: flex-start;
}

.service-left img {
  width: 100%;
}

.service-right {
  width: 50%;
  text-align: end;
}

.service-right-logo {
  width: 134px;
  height: 50px;
  margin-bottom: 30px; 
}

.service-right-subheading {
  color: #222;
text-align: right;
margin-top: 0px;

/* Desktop / H2 */
font-family: Montserrat;
font-size: 34px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 44.2px */
}

.service-right-txt {
  color: var(--general-dark, #222);
text-align: right;
font-feature-settings: 'clig' off, 'liga' off;

/* Desktop / Main / Regular */
font-family: Raleway;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}

/* content 2 solution */

.sec-solution {
  margin-bottom: 140px;
  background-image: url('../assets/content/8.svg');
  background-repeat: no-repeat;
  background-position: bottom center;
  
}

.solution {
  text-align: center;
  padding-bottom: 140px;
}

.solution-subheading {
color: #222;
text-align: center;

/* Desktop / H2 */
font-family: Montserrat;
font-size: 34px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 44.2px */
}

.solution-txt {
color: rgba(34, 34, 34, 0.70);
text-align: center;
font-feature-settings: 'clig' off, 'liga' off;

/* Desktop / Main / Regular */
font-family: Raleway;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}

.solution-content {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.solution-content-arrow {
  margin-left: 30px;
  margin-bottom: 28px;
  background-image: url(../assets/content/arrow-right-5.svg);
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
  flex-shrink: 0;
  background-position: left 0px;
}

.solution-content-1 {

  display: flex;
  flex-direction: column;
  justify-content: center;
 
  background-image: url('../assets/content/Vector2.svg');
  background-repeat: no-repeat;
  background-position: top 30px left 30px;
  transition: 200ms ease-in-out;
  cursor: pointer;
  padding: left 10px;
  width: 300px;
  height: 331px;

}

.solution-content-2 {

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: left 10px;
  width: 300px;
  height: 331px;
  background-image: url('../assets/content/circuit2.svg');
  background-repeat: no-repeat;
  background-position: top 30px left 30px;
  transition: 200ms ease-in-out;
  cursor: pointer;
  padding: 10px;
  width: 300px;
  height: 331px;
}
.solution-content-3 {

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: left 10px;
  width: 300px;
  height: 331px;  
  background-image: url('../assets/content/smartphone.svg');
  background-repeat: no-repeat;
  background-position: top 30px left 30px;
  transition: 200ms ease-in-out;
  cursor: pointer;
  padding: 10px;
  width: 300px;
  height: 331px;
}

.solution-content-1:hover {
  background-color: #ffa3a3;
  
  .solution-content-subheading {
    color: #FFF;
  }
  background-image: url('../assets/content/Vector.svg');
  .solution-content-txt {
    color: #FFF;
  }
}

.solution-content-2:hover {
  background-color: #ffa3a3;
  
  .solution-content-subheading {
    color: #FFF;
  }
  background-image: url('../assets/content/circuit.svg');
  .solution-content-txt {
    color: #FFF;
  }
}

.solution-content-3:hover {
  background-color: #ffa3a3;
  
  .solution-content-subheading {
    color: #FFF;
  }
  background-image: url('../assets/content/smartphone2.svg');
  .solution-content-txt {
    color: #FFF;
  }
}

.solution-content-subheading {
  color:  #222;
  font-feature-settings: 'clig' off, 'liga' off;
  text-align: left;
  margin-top: 140px;
  padding-left: 30px;
  /* Desktop / H3 */
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 38px; /* 158.333% */
}

.solution-content-txt {
  color:  #222;
  padding-left: 30px;
  margin-top: 17px;
  margin-bottom: 46px;
  text-align: left;
  font-feature-settings: 'clig' off, 'liga' off;
  
  /* Desktop / Main / Regular */
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}



/* creativty */

.creativity {
  display: flex;
  
  
  
}

.creativity-left {
  width: 200%;
}

.creativity-left img {
  width: 100%;
}

.creativity-right {
  
}

.creativity-right-top h2 {
  color: #222;

  /* Desktop / H2 */
  font-family: Montserrat;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 44.2px */
}

.creativity-right-top p {
color: #222;
font-feature-settings: 'clig' off, 'liga' off;

  /* Desktop / Main / Regular */
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.creativity-right-bot {
  margin-block: 80px;
}

.creativity-right-bot h2 {
  color: #222;
  /* Desktop / H2 */
  font-family: Montserrat;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 44.2px */
}

.creativity-right-bot p {
  color: #222;
  font-feature-settings: 'clig' off, 'liga' off;

  /* Desktop / Main / Regular */
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.creativity-button {
  display: flex;
  align-items: center;
  color: #381DDB;
  font-feature-settings: 'clig' off, 'liga' off;
  gap: 10px;
  /* Desktop / Main / Bold */
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  text-decoration: none;
}

.creativity-button img {
  
  width: 24px;
  
  
}


/* subscribe */

.subscribe {
  background-color: #222;
  width: 100%;
  height: 519px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column ;
  align-items: center;
  justify-content: center;
  padding: 120px 200px;
  margin-block: 140px;
  position: relative;
}

.subscribe h2 {
  color: #FFF;
  text-align: center;

  /* Desktop / H2 */
  font-family: Montserrat;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 44.2px */
}

.subscribe-top-txt{
  color: #FFF;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  opacity: 0.7;
  /* Desktop / Main / Regular */
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  max-width: 400px;
}

.subscribe-bot-txt{
  width: 780px;
  color: #FFF;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  opacity: 0.3;
  /* Desktop / Main / Regular */
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  max-width: 300px;
  margin-top: 30px;
}


.form-subscribe {
  display: flex;
  align-items: flex-start;
  gap: 20px;
 
}


.form-subscribe input {
  background-color: #FFFFFF1A;
  color: #FFF;
  border: none;
  width: 260px;
  height: 48px;
  padding-left: 14px;
  padding-block: 12px;
}

.form-subscribe input::placeholder {
  color: #FFF;
  font-feature-settings: 'clig' off, 'liga' off;

  /* Desktop / Main / Regular */
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  opacity: 0.5;
 
}

.form-subscribe input:focus-visible {
  border: none;
}

.form-subscribe button {
  background: var(--general-red, #FC5252);
  padding: 14px 28px;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  /* btn / blue / normal */
  box-shadow: 0px 10px 30px 0px rgba(56, 29, 219, 0.20);
  color: var(--general-light, #FFF);
  font-feature-settings: 'clig' off, 'liga' off;

  /* Desktop / H5 */
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.white-box {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  background: #FFF;
  position: absolute;
  left: 20px;
  top: 20px;
}

.blue-box {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  background: #381DDB;
  position: absolute;
  right: 0px;
  bottom: 20px;
}

.slider-wrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 67px;
}

.slider {
  padding: 20px 50px 20px 50px;
  width: 270px;
  justify-content: center;
  align-items: center;
  background: #f4f4f4;
  height: 110px;
  margin-inline: 20px !important;
}

.logo-figma {
  background-image: url('../assets/content/figma-logo.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 170px;
  height: 70px;
  flex-shrink: 0;
}

.logo-procreate {
  background-image: url('../assets/content/Procreate-lockup-black\ 1.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 170px;
  height: 70px;
  flex-shrink: 0;
}

.logo-drible {
  background-image: url('../assets/content/Dribbble_logo_black\ 1.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 170px;
  height: 70px;
  flex-shrink: 0;
}

.logo-sketh {
  background-image: url('../assets/content/sketch-logo\ 1.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 170px;
  height: 70px;
  flex-shrink: 0;
}

.logo-behance {
  background-image: url('../assets/content/1280px-Behance_logo\ 1.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 170px;
  height: 70px;
  flex-shrink: 0;
}

.logo-principle {
  background-image: url('../assets/content/principle-logo-1\ 1.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 170px;
  height: 70px;
  flex-shrink: 0;
}

.c-slider {
  padding-inline: 75px;
  width: 100% !important;
}

.slider-parent {
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}

.slider-arrow {
  display: flex;
  gap: 50px;
  flex-direction: row;
  margin-inline: auto;
}